h1 {
    color:rosybrown;
    background-color: sienna;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    padding: 20px; 
      width: 200px;
      height: 90px;
    }
    
    body {
      background-color:bisque
    }

    button {
      color:rgb(138, 90, 55)
    }

    h3 {
      text-align: center;
background-color: rgb(221, 176, 118);
padding: 20px;
      width: 130px;
      height: 50px;
    }